/* *{
  padding: 0;
  margin: 0;
}

header{
  height: 57px;
  border-bottom: 3px solid rgba(240, 238, 238, 0.281);
}



main{
  margin-top: 80px;
}


#info1{

  width: 595px;
  height: 581px;
  float: left;
}

.texto{
  width: 673px;
  height: 334px;
  border: 1px solid black;
}

#imgHome{
  width: 595px;
  height: 581px;
  float: right;
  
}


main footer ul li{
  display: inline;
  float: left;
  margin:0px 20px;
}

 */


*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

header{
  background: rgb(255, 255, 255);
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 1px 6px rgba(155, 155, 155, 0.37);
  
}

nav{
  margin: 15px 60px;
}

nav ul{
  float: right;
  
}

nav ul li{
  display: inline;
  margin: 10px 30px;
 
}

a{
  text-decoration: none;
  color: black;
  
}

/*-----------------------------------------------------/*/





.container{
  margin: 20px 25px ;
  max-width: 1920px;
  justify-content: center;
  
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

}

.info{
  width: 595px;
  height: 500px;
 
  margin: 20px 25px;
  padding: 0px 0px 100px 0px;

}

.texto{
  width: 673px;
  height: 334px;
}

.texto h1{
  font-size: 65px;
  padding: 60px 60px 0px 60px;
  color: black;
}

.texto p{
  font-size: 20px;
  padding: 20px 60px 0px 60px;
  text-align: justify;
  color: black;
  
}

#botoes{
  margin: 30px 50px;
  justify-content: center;
  padding: 10px 10px; 
 
}
button{
  width: 207px;
  height: 60px;
  padding: 0px 40px;
  font-size: 20px;
  font-weight: 2px;
  border-radius: 3px;
}

.b1{
  margin-right: 20px;
  color: white;
  background: #6477B6;
  border: none;
  
}

.b1:hover{
  background: #8c8ce7;
  
}
.b2:hover{
  background: #d4dbf8;
  
}

.b2{
  background: white;
  border: 1px solid black;
}

.info img{
  width: 595px;
  height: 581px;

}


#marcas{
align-items: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
#marcas img{
  margin: 10px 30px;
}